{% extends "master.html" %}
{% block content %}
<!-- row -->
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-header txt-color-blueDark">
            {#  PAGE HEADER #}
            <i class="fa-fw fa fa-home"></i>
            My Header with an Icon
			<span>
			</span>
        </h1>
    </div>
</div>


{# START ROW #}
<div class="row">
    <div class="col-md-12">
        {# Do stuff #}
    </div>
</div>

{% endblock %}

{% block js %}

<script type="text/javascript">
    $(document).ready(function(){
        {# do stuff #}
    });
</script>

{% endblock %}