bleh*
~*
*.swp
*.swo
*~
*.o
a.out
indexer/build/*
indexer/tests/bin/*
indexer/pdf/*.pdf
indexer/pdf/*.ps
design/*.aux
design/*.log
design/*.dvi
indexer/tests/test.pcap
search/tests/test_*
search/tests/test.sh
search/bin/*
migrations
__pycache__
__pycache__/*
.idea/
.idea/*
filetypes.xml
project.default.xml
vcs.xml
editor.codeinsight.xml
debugger.xml

/_windows
/capture
/lib64
/kombu
/bin
/etc/pcapdb.cfg
/log
/media
/static
/lib
/var
/include
/pip-selfcheck.json
/djcelery
status

celerybeat-schedule
celerybeat.pid

